input
{
	font-size: xx-large;
	font-family: monospace;
}

textarea
{
	font-size: x-large;
	vertical-align: top;
	tab-size: 4;
	/* Firefox */
	-moz-tab-size: 4;
	/* Opera */
	-o-tab-size: 4;
	/* Chrome, Safari */
	-webkit-tab-size: 4;
}

button
{
	font-size: large;
}
